html, body {
    background-color: #000;
    color: #999;
    font: normal 16px 'Titillium Web', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.1em;
}

#bg-page {
    position:fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
}
    #bg-page .placeholder {
        background: url(../img/background_hi.png) top center;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width: 100%;
        height: 100%;
        margin:auto;
    }

div[role="main"] {
    position: relative;
    margin-top: 1.875em;
    z-index: 100;
}
    div[role="main"].content-container {
        position: absolute;
        bottom: 75px;
        right: 15px;
        background: url(../img/bg_box.png);
        padding: 15px;
        color: #999;
        height: auto;
        width: 425px;
        font-size: 0.93em;
        line-height: 1.25em;
        text-align: center;
    }
        .content-container h1 {
            color: #ddd;
            font-size: 2.8em;
            font-weight: normal;
        }

        .content-container .links {
            width: 311px;
            height: 32px;
            margin: 0 auto 20px auto;

        }
        .content-container .links a {
            float: left;
        }
            .content-container .links a:first-child {
                margin-right: 15px;
            }


        .content-container a {
            position: relative;
            color: #222;
            text-decoration: none;
            /*background-color: rgba(219,87,5,1);*/
            background-color: #aaaaaa;
            font-weight: 400;
            font-size: 14px;
            display: block;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            border-bottom: solid 1px #ddd;
            -webkit-box-shadow: 0px 6px 0px #333, 0px 6px 25px rgba(0,0,0,.7);
            -moz-box-shadow: 0px 6px 0px #333, 0px 6px 25px rgba(0,0,0,.7);
            box-shadow: 0px 6px 0px #333, 0px 6px 25px rgba(0,0,0,.7);
            padding: 4px;
            margin: 0px auto;
            width: 140px;
            text-align: center;

            -webkit-transition: all .1s ease;
            -moz-transition: all .1s ease;
            -ms-transition: all .1s ease;
            -o-transition: all .1s ease;
            transition: all .1s ease;
        }

            .content-container a span {
                position: absolute;
                display: block;
                background: url(../img/shine.png) -60px -80px no-repeat;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                transition-property: all;
                transition-duration: .8s;
                height: 26px;
                width: 147px;
                top: 0px;
                left: 0px;
            }
                .content-container a:hover span {
                    background-position: 200px 80px;
                }

        .content-container a:active {
            -webkit-box-shadow: 0px 3px 0px #333, 0px 3px 6px rgba(0,0,0,.9);
            -moz-box-shadow: 0px 3px 0px #333, 0px 3px 6px rgba(0,0,0,.9);
            box-shadow: 0px 3px 0px #333, 0px 3px 6px rgba(0,0,0,.9);
            position: relative;
            top: 3px;
            color: #ddd;
        }

        .cover {
            width: 300px;
            height: 300px;
            border: solid 1px #202020;
            background-image: url(../img/cover_300.png);
            margin: 0 auto;
        }

div[role="footer"] {
    position: fixed;
    z-index: 100;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 75px;
    background: url(../img/bg_box.png);
}
    div[role="footer"] .title {
        position: absolute;
        top: 30px;
        left: 30px;
        color: #ddd;
    }
    div[role="footer"] .social {
        position: absolute;
        top: 15px;
        left: 300px;
    }
        .social a {
            width: 48px;
            height: 48px;
            float: left;
            overflow: hidden;
            padding: 0px;
        }
            .social a:first-child {
                margin-right: 10px;
            }
            .social a span {
                position: relative;
                display: block;
                background: url(../img/shine.png) -60px -80px no-repeat;
                transition-property: all;
                transition-duration: .8s;
                height: 40px;
                width: 40px;
                top: 4px;
                left: 4px;
            }
                .social a:hover span {
                    background-position: 100px 100px;
                }

        .social .twitter {
            background-image: url(../img/twitter.png);
        }
        .social .facebook {
            background-image: url(../img/facebook.png);
        }

    div[role="footer"] .links {
        position: absolute;
        top: 30px;
        right: 30px;
    }
        div[role="footer"] .links a {
            color: #999;
            text-decoration: none;
            padding-left: 5px;
            border-bottom: solid 10px transparent;
            transition-property: all;
            transition-duration: .3s;
        }
        div[role="footer"] .links a:first-child {
            margin-right: 20px;
        }
        div[role="footer"] .links a:hover {
            border-bottom: solid 1px #ddd;
            color: #ddd;
        }

    div[role="footer"] .drawer-control {
        display: none;
    }

#player {
    position: absolute;
    top: -8000px;
    left: -8000px;
}

/* iPad General */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #bg-page .placeholder {
        background: url(../img/background_hi.png) center center;
    }
       .cover {
            width: 300px;
            height: 300px;
            background-image: url(../img/cover_300.png);
        }
    #player {
        display: none;
    }    
}

/* iPad Portait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    html, body {
        font-size:20px;
    }
    div[role="main"].content-container {
        position: fixed;
        bottom: 75px;
        width: 425px;
    }
}

/* iPad Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    html, body {
        font-size:18px;
    }

    div[role="main"].content-container {
        position: fixed;
        bottom: 45px;
        width: 375px;
    }
        .content-container h1 {
            font-size: 2.0em;
        }

    div[role="footer"] {
        height: 45px;
    }
        div[role="footer"] .title, div[role="footer"] .links {
            top: 15px;
        }
        div[role="footer"] .social {
            top: 8px;
        }
            .social a {
                width: 32px;
                height: 32px;
            }
            .social .twitter {
                background-image: url(../img/twitter_32.png);
            }
            .social .facebook {
                background-image: url(../img/facebook_32.png);
            }
}

/* iPhone General */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    * {
        transition-property: all;
        transition-duration: .4s;
    }
    html, body {
        background: fixed url(../img/background_lo.png) center center;
        width: 100%;
    }
    #bg-page {
        display: none;
    }
    div[role="main"].content-container {
        position: relative;
        top: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
        .content-container h1 {
            font-size: 1.8em;
            margin-top: 5px;
        }
        .content-container .links {
            width: 232px;
            margin: 0 auto 20px auto;
        }
        .content-container a span {
            display: none;
        }
        .cover {
            display: none;
        }   
    div[role="footer"] {
        position: absolute;
        z-index: 100;
        left: 0px;
        bottom: 0px;
        width: 100%;
        background: url(../img/bg_box.png);
    }
        div[role="footer"] .links, div[role="footer"] .social {
            display: none;
        }
        div[role="footer"].open .links, div[role="footer"].open .social {
            display: block;
        }
        div[role="footer"] .drawer-control {
            position: absolute;
            display: block;
            top: 10px;
            right: 15px;
            width: 30px;
            height: 25px;
            background: url(../img/255.png);
        }
    #player {
        display: none;
    }
}

/* iPhone Portait */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
    html, body {
        background: fixed url(../img/background_lo.png) -250px -200px;
        width: 100%;
    }
    div[role="main"].content-container {
        left: 25px;
        width: 240px;
    }
        .content-container h1 {
            font-size: 1.8em;
            margin-top: 5px;
        }
            .content-container a {
                width: 100px;
            }

    div[role="footer"] {
        height: 75px;
    }
        div[role="footer"] {
            height: 45px;
        }
            div[role="footer"] .title {
                top: 15px;
                left: 15px;
            }

        div[role="footer"].open {
            height: 100px;
        }        
            div[role="footer"].open .social {
                top: 45px;
                left: 10px;
            }
                div[role="footer"].open .social a {
                    width: 48px;
                    height: 48px;
                }
                    .social a:first-child {
                        margin-right: 10px;
                    }
                    .social a span {
                        display: none;
                    }
            div[role="footer"].open .links {
                top: 60px;
                right: 12px;
            }
                div[role="footer"] .links a:first-child {
                    margin-right: 10px;
                }
}

/* iPhone Landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
    div[role="main"].content-container {
        left: 25px;
        width: 240px;
    }
        .content-container a {
            width: 100px;
        }

    div[role="footer"] {
        height: 35px;
    }
        div[role="footer"] .title {
            top: 8px;
        }
        div[role="footer"] .title {
            left: 15px;
        }

    div[role="footer"].open {
        height: 85px;
    }        
        div[role="footer"].open .social {
            top: 37px;
            left: 10px;
        }
            .social a:first-child {
                margin-right: 10px;
            }
            .social a span {
                display: none;
            }
        div[role="footer"].open .links {
            top: 52px;
            right: 13px;
        }
            div[role="footer"] .links a:first-child {
                margin-right: 10px;
            }
        .social a {
            width: 32px;
            height: 32px;
        }
        .social .twitter {
            background-image: url(../img/twitter_32.png);
        }
        .social .facebook {
            background-image: url(../img/facebook_32.png);
        }
    div[role="footer"] .drawer-control {
        width: 22px;
        height: 19px;
        top: 8px;
        background: url(../img/255_sm.png);
    }
}