html, body {
    background-color: #000;
    color: #ddd;
    font: normal 16px Arial, Helvetica, sans-serif;
}

div[role="main"] {
    margin-top: 1.875em;
}
    .covers, .cover {
        text-align: center;
    }
        .cover {
            height: 15em;
            width: 28.125em;
            margin: 0 auto;
            overflow: hidden;
        }
            .cover img {
                margin: -115px auto;
                width: 28.125em;
            }

        .covers img {
            display: inline-block;
            border: solid 1px #333;
            margin: 0 auto;
        }

    .tagline {
        text-align: center;
        font-size: 2em;
        margin: 0.625em 0 2.5em 0;
        font-family: 'EB Garamond', serif;
    }

    .en .tagline.top, .ar .tagline.top {
        display: none;
    }

#player {
    position: absolute;
    top: -8000px;
    left: -8000px;
}

/* iPad Portait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    html, body {
        font-size:20px;
    }
    .cover img {
        margin: -135px auto;
    }
    #player {
        display: none;
    }
}

/* iPad Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    html, body {
        font-size:18px;
    }
    .cover img {
        margin: -125px auto;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .cover {
        height: 11em;
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }
        .cover img {
            display: block;
            width: 300px;
            height: 300px;
            margin: -70px 0;
        }

    .en .tagline.top {
        display: block;
        margin-bottom: 0.625em;
    }
    .en .tagline.bottom {
        display: none;
    }

    .ar .covers img:nth-child(2) {
        display: none;
    }

    #player {
        display: none;
    }
}